*.ipynb_checkpoints
__pycache__
*.csv
*.tsv
*.smi
*.bin
*.pth
*.pt
*.tar
*.tar.gz
*.zip
*.gz
*.tgz
*.rar
*.safetensors

!data/task_forward_demo_input.csv
!data/task_retrosynthesis_demo_input.csv
!data/task_yield_demo_input.csv